<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= Constants::APP %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <%= favicon_pack_tag('favicon.ico') %> -->
    <meta name='theme-color' content='rgb(243, 145, 16)'/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body id='<%= yield(:page_id)%>'>
    <%= render 'layouts/header' %>
    <div class='wrapper'>
      <div class='container'>
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
